openapi: 3.2.0
info:
  title: Arcadia API Reference Bundle Webhook Events API
  version: 0.3.0
  contact:
    email: platformsupport@arcadia.com
  x-logo:
    url: images/arcadia_logo.png
servers:
- url: https://api.arcadia.com
security:
- bearerAuth: []
tags:
- name: Bundle Webhook Events
paths: {}
webhooks:
  utilityRemittancePendingEnrollment:
    post:
      summary: Utility Remittance Pending Enrollment
      description: Webhook posted when a Utility Account is pending enrollment into utility remittance.
      operationId: utilityRemittancePendingEnrollment
      tags:
      - Bundle Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityRemittancePendingEnrollmentWebhookEvent'
  utilityRemittanceIneligible:
    post:
      summary: Utility Remittance Ineligible
      description: Webhook posted when a Utility Account is determined to be ineligible for utility remittance.
      operationId: utilityRemittanceIneligible
      tags:
      - Bundle Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityRemittanceIneligibleWebhookEvent'
  utilityRemittanceEnrolled:
    post:
      summary: Utility Remittance Enrolled
      description: Webhook posted when a Utility Account is enrolled into utility remittance.
      operationId: utilityRemittanceEnrolled
      tags:
      - Bundle Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityRemittanceEnrolledWebhookEvent'
  utilityRemittancePendingRemoval:
    post:
      summary: Utility Remittance Pending Removal
      description: Webhook posted when a Utility Account is pending removal from utility remittance.
      operationId: utilityRemittancePendingRemoval
      tags:
      - Bundle Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityRemittancePendingRemovalWebhookEvent'
  utilityRemittanceRemoved:
    post:
      summary: Utility Remittance Removed
      description: Webhook posted when a Utility Account is removed from utility remittance.
      operationId: utilityRemittanceRemoved
      tags:
      - Bundle Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityRemittanceRemovedWebhookEvent'
  utilityRemittanceItemRemitted:
    post:
      summary: Utility Remittance Item Remitted
      description: Webhook Event posted when a Utility Remittance Item has been remitted
      operationId: utilityRemittanceItemRemitted
      tags:
      - Bundle Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityRemittanceItemRemittedWebhookEvent'
  utilityRemittanceItemScheduled:
    post:
      summary: Utility Remittance Item Scheduled
      description: Webhook Event posted when a Utility Remittance Item has been scheduled
      operationId: utilityRemittanceItemScheduled
      tags:
      - Bundle Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityRemittanceItemScheduledWebhookEvent'
components:
  schemas:
    IneligibilityReason:
      required:
      - resolvable
      - reason
      properties:
        resolvable:
          type: boolean
          description: If `true`, signifies that corrective action can be taken to resolve this Ineligibility Reason. If `false`, this Ineligibility Reason cannot be resolved
          example: false
        reason:
          $ref: '#/components/schemas/IneligibilityReasonEnum'
      additionalProperties: false
    UtilityRemittancePendingRemovalWebhookEvent:
      required:
      - created_at
      - data
      - type
      properties:
        type:
          type: string
          enum:
          - utility_remittance_pending_removal
        created_at:
          description: Date and time this Webhook Event was generated. Given in UTC.
          type: string
          format: date-time
        data:
          description: Data relevant to this Webhook Event.
          $ref: '#/components/schemas/BundleEnrollment'
      additionalProperties: false
    UtilityRemittanceRemovedWebhookEvent:
      required:
      - created_at
      - data
      - type
      properties:
        type:
          type: string
          enum:
          - utility_remittance_removed
        created_at:
          description: Date and time this Webhook Event was generated. Given in UTC.
          type: string
          format: date-time
        data:
          description: Data relevant to this Webhook Event.
          $ref: '#/components/schemas/BundleEnrollment'
      additionalProperties: false
    UtilityRemittanceItem:
      required:
      - id
      - utility_statement_id
      - client_user_id
      - amount_cents
      - status
      - created_at
      - updated_at
      - scheduled_at
      - remitted_at
      - sandboxed
      properties:
        id:
          description: Unique `id` generated by Arcadia to identify this resource.
          type: number
        utility_statement_id:
          description: Unique `id` generated by Arcadia to identify the Utility Statement associated with this resource.
          type: number
        client_user_id:
          description: Your organization's unique key provided to associate Arcadia resources with your user.
          type: string
          example: fff57dc7-3a2b-4395-8a62-e3486d46dabe
        amount_cents:
          description: Monetary amount of this Utility Remittance Item. Given in cents.
          type: integer
        status:
          type: string
          enum:
          - scheduled
          - remitted
          - void
        created_at:
          description: Date and time at which this resource was created. Given in UTC.
          type: string
          format: date-time
        updated_at:
          description: Date and time at which this resource was most recently updated. Given in UTC.
          type: string
          format: date-time
        scheduled_at:
          description: Date and time this Utility Remittance Item is scheduled to be remitted to the user's associated Utility. Given in UTC.
          format: date-time
          type:
          - string
          - 'null'
        remitted_at:
          description: Date and time this Utility Remittance Item was successfully remitted to the user's associated Utility. Given in UTC.
          format: date-time
          type:
          - string
          - 'null'
        sandboxed:
          description: If `true`, this resource is in the sandboxed environment. If `false`, this resource is in the live environment.
          type: boolean
          example: 'false'
      additionalProperties: false
    UtilityRemittanceEnrolledWebhookEvent:
      required:
      - created_at
      - data
      - type
      properties:
        type:
          type: string
          enum:
          - utility_remittance_enrolled
        created_at:
          description: Date and time this Webhook Event was generated. Given in UTC.
          type: string
          format: date-time
        data:
          description: Data relevant to this Webhook Event.
          $ref: '#/components/schemas/BundleEnrollment'
      additionalProperties: false
    UtilityRemittanceIneligibleWebhookEvent:
      required:
      - created_at
      - data
      - type
      properties:
        type:
          type: string
          enum:
          - utility_remittance_ineligible
        created_at:
          description: Date and time this Webhook Event was generated. Given in UTC.
          type: string
          format: date-time
        data:
          description: Data relevant to this Webhook Event.
          $ref: '#/components/schemas/BundleEnrollment'
      additionalProperties: false
    UtilityRemittanceItemRemittedWebhookEvent:
      required:
      - type
      - created_at
      - data
      properties:
        type:
          type: string
          enum:
          - utility_remittance_item_remitted
        created_at:
          description: Date and time this Webhook Event was generated. Given in UTC.
          type: string
          format: date-time
        data:
          description: Data relevant to this Webhook Event.
          $ref: '#/components/schemas/UtilityRemittanceItem'
      additionalProperties: false
    UtilityRemittanceItemScheduledWebhookEvent:
      required:
      - type
      - created_at
      - data
      properties:
        type:
          type: string
          enum:
          - utility_remittance_item_scheduled
        created_at:
          description: Date and time this Webhook Event was generated. Given in UTC.
          type: string
          format: date-time
        data:
          description: Data relevant to this Webhook Event.
          $ref: '#/components/schemas/UtilityRemittanceItem'
      additionalProperties: false
    BundleEnrollment:
      required:
      - client_user_id
      - utility_account_id
      - product_key
      - status
      - ineligibility_reasons
      - removal_reason
      - start_date
      - override_email
      - sandboxed
      properties:
        client_user_id:
          description: Your organization's unique key provided to associate Arcadia resources with your user.
          type: string
          example: fff57dc7-3a2b-4395-8a62-e3486d46dabe
        utility_account_id:
          description: Unique `id` generated by Arcadia to identify the Utility Account associated with this resource.
          type: integer
          example: 1234
        product_key:
          type: string
          enum:
          - hosted_payments
          - utility_remittance
        status:
          anyOf:
          - type: 'null'
          - type: string
            enum:
            - enrolled
            - pending_enrollment
            - ineligible
            - pending_removal
            - removed
          example: enrolled
        ineligibility_reasons:
          description: Reasons, if any, that an Account was ineligible for Bundle. This array will always be present but may be empty.
          type: array
          items:
            $ref: '#/components/schemas/IneligibilityReason'
        removal_reason:
          anyOf:
          - type: 'null'
          - type: string
            enum:
            - organization_requested
            - dropped_cant_login
            - dropped_payment_decline
            - dropped_no_remittance_scheduled
            - moved
          example: null
        start_date:
          description: Date the Bundle Enrollment was approved.
          format: date
          type:
          - string
          - 'null'
        override_email:
          description: Email address generated by Arcadia to override the user's email address on file with their Utility.
          example: apb0123456@a.arcadiapower.com
          type:
          - string
          - 'null'
        sandboxed:
          description: If `true`, this resource is in the sandboxed environment. If `false`, this resource is in the live environment.
          type: boolean
          example: false
      additionalProperties: false
    UtilityRemittancePendingEnrollmentWebhookEvent:
      required:
      - created_at
      - data
      - type
      properties:
        type:
          type: string
          enum:
          - utility_remittance_pending_enrollment
        created_at:
          description: Date and time this Webhook Event was generated. Given in UTC.
          type: string
          format: date-time
        data:
          description: Data relevant to this Webhook Event.
          $ref: '#/components/schemas/BundleEnrollment'
      additionalProperties: false
    IneligibilityReasonEnum:
      type: string
      enum:
      - 2fa
      - ebill_ineligible_incorrect_credentials
      - ebill_ineligible_third_party
      - gas_only
      - inactive_utility_account
      - incomplete_utility_account
      - missing_payment_method
      - past_due
      - payment_arrangement
      - sdg&e_paperless_gas_account
      - sibling_account_ineligible
      - solar_non_approved_utility
      - enrolled_in_mutually_exclusive_bundle_feature
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-readme:
  proxy-enabled: false
  headers:
  - key: from-readme
    value: true
x-tagGroups:
- name: General
  tags:
  - Auth
  - Webhooks
  - Webhook Events
- name: Connections
  tags:
  - Utility Credentials
  - Utility Accounts
  - Utility Meters (Beta)
  - Users
- name: Products
  tags:
  - Plug
  - Spark
