# x-archived-from: arcadiapower2-openapi.yaml
# x-archived-on: 2026-09-26
openapi: 3.1.0
info:
  title: Arcadia API Reference
  version: 0.3.0
  contact:
    email: platformsupport@arcadia.com
  x-logo:
    url: images/arcadia_logo.png
servers:
  - url: https://api.arcadia.com
security:
  - bearerAuth: []
tags:
  - name: Auth
  - name: Webhooks
  - name: Plug
  - name: Spark
  - name: Bundle (Beta)
paths:
  /auth/access_token:
    post:
      security: []
      tags:
        - Auth
      summary: Create an Access Token
      description: |
        Use your API credentials to create an Access Token that has permission to use all Arcadia API endpoints.

        API access tokens are valid for 2 hours.
      operationId: createApiAccessToken
      parameters:
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - client_id
                - client_secret
              properties:
                client_id:
                  type: string
                  description: Your client ID, provided by Arcadia.
                  example: Lttwdte5TofL4X3JI0kGbu_E5k7Uv9tT8xBD6GBXcT0
                client_secret:
                  type: string
                  description: Your client secret, provided by Arcadia.
                  example: 34_whUQ99g5A07cOHCSz3PfNMHOmsNwUcrS8kFlkiAw
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
        '401':
          description: Unauthorized
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenUnauthorizedError'
  /auth/connect_token:
    post:
      tags:
        - Auth
      summary: Create a Connect Token
      description: |-
        The Connect front-end component must be initialized with a Connect Token scoped to the user entering the *Connect* flow.

        For new users, or users creating an additional utility credential, post with a unique `client_user_id` parameter. For users editing an existing utility credential, post with the `utility_credential_id` parameter corresponding to the utility credential to be updated. Make sure the `Authorization` header is set to `Bearer ${ACCESS_TOKEN}`.

        Tokens expire after two hours.
      operationId: createConnectToken
      parameters:
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                client_user_id:
                  type: string
                  description: The unique identifier for your user. This parameter is required for users entering the Connect flow for the first time. Note either `client_user_id` or `utility_credential_id` must be supplied to the endpoint for all requests.
                  example: fff57dc7-3a2b-4395-8a62-e3486d46dabe
                utility_credential_id:
                  type: integer
                  description: The id associated the utility credential to be updated. This parameter is required for users entering Connect to update an existing utility credential. Note either `client_user_id` or `utility_credential_id` must be supplied to the endpoint for all requests.
                  example: 1
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectUrlResponse'
        '401':
          description: Unauthorized.
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectTokenUnauthorizedError'
        '404':
          description: Not Found
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityCredentialNotFoundError'
        '422':
          description: Unprocessable Entity
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ConnectTokenUnprocessableEntityError'
                  - $ref: '#/components/schemas/ConnectTokenTooManyParametersError'
                  - $ref: '#/components/schemas/ConnectUrlVariantError'
  /auth/connect_url:
    post:
      tags:
        - Auth
      summary: Create a Connect URL
      description: |-
        You can also send your users through the *Connect* flow by linking them to a unique Connect URL (provided by this endpoint).

        Just like [the Connect Token](ref:createconnecttoken), you need to provide either a `client_user_id` or a`utility credential_id` to get a URL that will initialize Connect in ‘create mode’ or ‘update mode’ respectively. [See this page for a guide on the difference between those two modes.](https://docs.arcadia.com/docs/connect-guide) This endpoint will provide a URL in a response.
        Once you have the URL, provide it to the given user for them to complete Connect and give you access to their utility data. The URL will expire after 5 days.
        If you would like to provide your user with the [Connect tariff selection mode] (https://docs.arcadia.com/docs/connect-tariff-selection-mode) instead, pass `tariff` as the variant parameter.
      operationId: createConnectUrl
      parameters:
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                client_user_id:
                  type: string
                  description: The unique identifier for your user. This parameter is required for users entering the Connect flow for the first time. Note either `client_user_id` or `utility_credential_id` must be supplied to the endpoint for all requests.
                  example: fff57dc7-3a2b-4395-8a62-e3486d46dabe
                utility_credential_id:
                  type: integer
                  description: The id associated with the utility credential to be updated. This parameter is required for users entering Connect to update or repair an existing utility credential. Note that you must supply either `client_user_id` or `utility_credential_id` to the endpoint.
                  example: 1
                variant:
                  type: string
                  description: The variant of Connect that the user will be sent through. Variant will default to 'connect'. To provide a user with the tariff-selection variant instead, pass `tariff` as the variant
                  example: tariff
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectUrlResponse'
        '401':
          description: Unauthorized.
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectTokenUnauthorizedError'
        '404':
          description: Not Found
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityCredentialNotFoundError'
        '422':
          description: Unprocessable Entity
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ConnectTokenUnprocessableEntityError'
                  - $ref: '#/components/schemas/ConnectTokenTooManyParametersError'
                  - $ref: '#/components/schemas/ConnectUrlVariantError'
  /ping:
    get:
      tags:
        - Auth
      summary: Ping
      description: |
        No-op authorization test endpoint. Returns a 200 if requested with a valid Bearer auth token.
        Any valid authorization token with any scope will be able to get a 200 from this endpoint.
      operationId: ping
      parameters:
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingResponse'
        '401':
          description: Unauthorized
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingUnauthorizedError'
        '403':
          description: Forbidden
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingUnauthorizedError'
  /utility_accounts:
    get:
      tags:
        - Utility Accounts
      summary: List Utility Accounts
      description: Returns a paginated list of UtilityAccounts for all users, or filtered by `client_user_id`. Default ordered by descending `updated_at`.
      operationId: getUtilityAccounts
      parameters:
        - $ref: '#/components/parameters/clientUserIdQueryParam'
        - $ref: '#/components/parameters/paginationLimitParam'
        - $ref: '#/components/parameters/paginationUpdatedAfterParam'
        - $ref: '#/components/parameters/paginationUpdatedBeforeParam'
        - $ref: '#/components/parameters/paginationOrderParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUtilityAccounts'
  /utility_accounts/{utility_account_id}:
    get:
      tags:
        - Utility Accounts
      summary: Get Utility Account
      description: Returns a single UtilityAccount specified by ID.
      operationId: getUtilityAccount
      parameters:
        - $ref: '#/components/parameters/utilityAccountIdInPathParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityAccount'
  /users:
    get:
      tags:
        - Users
      summary: List Users
      description: Returns a paginated list of Users. Default ordered by descending `updated_at`.
      operationId: getUsers
      parameters:
        - $ref: '#/components/parameters/paginationLimitParam'
        - $ref: '#/components/parameters/paginationUpdatedAfterParam'
        - $ref: '#/components/parameters/paginationUpdatedBeforeParam'
        - $ref: '#/components/parameters/paginationOrderParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUsers'
  /users/{client_user_id}:
    get:
      tags:
        - Users
      summary: Get User
      description: Get a single User associated with a `client_user_id`
      operationId: getUser
      parameters:
        - $ref: '#/components/parameters/clientUserIdInPathParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          description: Forbidden
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDataExceedsLimitsError'
        '404':
          description: Not Found
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserNotFoundError'
    delete:
      tags:
        - Users
      summary: Delete User
      description: Delete all data associated with a `client_user_id`. Note that the actual delete happens asynchronously, so data for this User may still be available through the API for a few minutes after a delete request is made.
      operationId: deleteUser
      parameters:
        - $ref: '#/components/parameters/clientUserIdInPathParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '204':
          description: No Content
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
        '404':
          description: Not Found
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserNotFoundError'
        '422':
          description: Unprocessable Entity
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteUserError'
  /utility_credentials:
    get:
      tags:
        - Utility Credentials
      summary: List Utility Credentials
      description: Returns a paginated list of UtilityCredentials for all users, or filtered by `client_user_id`. Default ordered by descending `updated_at`.
      operationId: getUtilityCredentials
      parameters:
        - $ref: '#/components/parameters/clientUserIdQueryParam'
        - $ref: '#/components/parameters/paginationLimitParam'
        - $ref: '#/components/parameters/paginationUpdatedAfterParam'
        - $ref: '#/components/parameters/paginationUpdatedBeforeParam'
        - $ref: '#/components/parameters/paginationOrderParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUtilityCredentials'
  /utility_credentials/{utility_credential_id}:
    get:
      tags:
        - Utility Credentials
      summary: Get Utility Credential
      description: Returns a single UtilityCredential specified by ID.
      operationId: getUtilityCredential
      parameters:
        - $ref: '#/components/parameters/utilityCredentialIdInPathParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityCredential'
  /utility_meters:
    get:
      tags:
        - Utility Meters (Beta)
      summary: List Utility Meters
      description: Returns a paginated list of utility meters for all users, utility accounts, and service types. May be filtered by `client_user_id`, `utility_account_id`, and/or `service_types` to further refine results. Default ordered by descending `updated_at`.
      operationId: getUtilityMeters
      parameters:
        - $ref: '#/components/parameters/clientUserIdQueryParam'
        - $ref: '#/components/parameters/utilityAccountIdQueryParam'
        - $ref: '#/components/parameters/serviceTypesQueryParam'
        - $ref: '#/components/parameters/paginationLimitParam'
        - $ref: '#/components/parameters/paginationUpdatedAfterParam'
        - $ref: '#/components/parameters/paginationUpdatedBeforeParam'
        - $ref: '#/components/parameters/paginationOrderParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUtilityMeters'
        '422':
          description: Unprocessable Entity
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/MalformedParametersError'
  /utility_meters/{utility_meter_id}:
    get:
      tags:
        - Utility Meters (Beta)
      summary: Get Utility Meter
      description: |
        Returns a single utility meter specified by ID.
      operationId: getUtilityMeter
      parameters:
        - $ref: '#/components/parameters/utilityMeterIdInPathParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityMeter'
  /plug/utility_statements:
    get:
      tags:
        - Plug
      summary: List Utility Statements
      description: Returns a paginated list of UtilityStatements for all users, or filtered by `utility_account_id`. Default ordered by descending `updated_at`.
      operationId: getUtilityStatements
      parameters:
        - $ref: '#/components/parameters/deprecatedClientUserIdQueryParam'
        - $ref: '#/components/parameters/utilityAccountIdQueryParam'
        - $ref: '#/components/parameters/paginationLimitParam'
        - $ref: '#/components/parameters/paginationUpdatedAfterParam'
        - $ref: '#/components/parameters/paginationUpdatedBeforeParam'
        - $ref: '#/components/parameters/paginationOrderParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUtilityStatements'
        '404':
          description: Not Found
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityAccountNotFoundError'
        '422':
          description: Unprocessable Entity
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityStatementsFeatureAvailabilityError'
  /plug/utility_statements/{utility_statement_id}:
    get:
      tags:
        - Plug
      summary: Get Utility Statement
      description: Returns a single UtilityStatement specified by ID.
      operationId: getUtilityStatement
      parameters:
        - $ref: '#/components/parameters/utilityStatementIdInPathParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityStatement'
  /spark/charge_curve/cost:
    post:
      tags:
        - Spark
      summary: Calculate Charge Cost
      description: Provided a charge curve starting at a particular time of day, calculates the electricity cost of that charge curve for a particular `UtilityAccount` or [Genability tariff](https://developer.genability.com/api-reference/tariff-api/tariff/).
      operationId: calculateChargeCost
      parameters:
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeCostRequestBodyParams'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeCostResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TariffResolutionError'
        '404':
          description: Not Found
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/UtilityAccountNotFoundError'
                  - $ref: '#/components/schemas/ChargeCurvesTariffParamError'
        '422':
          description: Unprocessable Entity
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ChargeCostFeatureAvailabilityError'
                  - $ref: '#/components/schemas/SparkParamValidationError'
                  - $ref: '#/components/schemas/ChargeCurvesTariffParamError'
  /spark/charge_curve/schedule:
    post:
      tags:
        - Spark
      summary: Calculate Smart Charging Schedule
      description: Provided details around charging duration and a prospective charging window, returns a charging schedule that minimizes costs for a particular `UtilityAccount`.
      operationId: calculateSmartChargeSchedule
      parameters:
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartChargeScheduleRequestBodyParams'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartChargeScheduleResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TariffResolutionError'
        '404':
          description: Not Found
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityAccountNotFoundError'
        '422':
          description: Unprocessable Entity
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SmartChargeFeatureAvailabilityError'
                  - $ref: '#/components/schemas/SparkParamValidationError'
  /spark/tariff_rates:
    post:
      tags:
        - Spark
      summary: Calculate Tariff Rate ($/kWh)
      description: |-
        Calculates marginal rate ($/kWh) for a short-term time period on the electric tariff a given utility account is subscribed to. This endpoint will report appropriate costs for TOU periods (daily peak/off-peak hours, weekend schedules, seasonal changes).
        This endpoint is not recommended for monthly bill reproduction. Marginal rates generally do not include monthly adjustments or charges such as tiering (costs are generally reported at the base tier), fixed charges, monthly discounts, special event days, etc.
      operationId: retrieveTariffRates
      parameters:
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TariffRatesRequestBodyParams'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TariffRatesResponse'
  /spark/optimized_tariffs/load_serving_entities:
    get:
      tags:
        - Spark
      summary: Tariff Optimize - Search for Load Serving Entities
      description: Returns a list of Genability load serving entities (LSEs) for a given zip code, for use in tariff searches.
      operationId: searchLoadServingEntities
      parameters:
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
        - in: query
          name: zip_code
          required: true
          description: United States zip code.
          example: '94105'
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchLoadServingEntitiesResponse'
  /spark/optimized_tariffs/applicabilities:
    get:
      tags:
        - Spark
      summary: Tariff Optimize - Get Tariff Applicability Questions
      description: |
        Gets the list of applicability questions for all potential tariffs. Tariffs sometimes have eligibility conditions to sign up for them ("applicabilities"). For example, signing up for an EV tariff often requires an electric car registered to the account holder at the account's address. Answers to the returned applicability questions can be passed to the recommendations endpoint to get the most relevant tariffs.

        The set of potential tariffs can be specified either by an Arcadia Utility Account ID, or by considering all tariffs in a given zip code served by a specific [Genability Load Serving Entity (LSE)](https://developer.genability.com/api-reference/tariff-api/load-serving-entity/).

        __Either utility_account_id or both the zip_code/lse_id must be specified.__
      operationId: getOptimizedTariffsApplicabilities
      parameters:
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
        - in: query
          name: utility_account_id
          required: false
          example: 12345
          description: The unique ID of the Utility Account for this tariff search. Optional if searching for tariffs by Genability `lse_id`/`zip_code`.
          schema:
            type: integer
        - in: query
          name: zip_code
          required: false
          description: The zip code of the site inside the LSE's territory. Must be provided if searching for tariffs by Genability `lse_id`/`zip_code`.
          example: '94706'
          schema:
            type: string
        - in: query
          name: lse_id
          required: false
          description: The ID of the Genability [load serving entity](https://developer.genability.com/api-reference/tariff-api/load-serving-entity/) prefixed with `gen_lse_`. Must be provided if searching for tariffs by Genability `lse_id`/`zip_code`.
          example: gen_lse_734
          schema:
            type: string
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TariffApplicabilityQuestionsResponse'
        '422':
          description: Bad Request
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptimizedTariffRecommendationsLseIdentificationParamError'
  /spark/optimized_tariffs/recommendations:
    post:
      tags:
        - Spark
      summary: Tariff Optimize - Search for Recommended Applicable Tariffs
      description: |-
        Returns a list of applicable tariffs to use in a Tariff-Scenario Cost Calculation given the answers to the submitted Applicability Questions.

        The set of recommended tariffs can be specified either by an Arcadia Utility Account ID, or by considering all tariffs in a given zip code served by a specific [Genability Load Serving Entity (LSE)](https://developer.genability.com/api-reference/tariff-api/load-serving-entity/).

        __Either utility_account_id or both the zip_code/lse_id must be specified.__
      operationId: searchOptimizedTariffsByApplicabilities
      parameters:
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TariffApplicabilityAnswersRequestParams'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptimizedTariffRecommendationsResponse'
        '422':
          description: Bad Request
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptimizedTariffRecommendationsLseIdentificationParamError'
  /spark/optimized_tariffs/scenario_cost:
    post:
      tags:
        - Spark
      summary: Tariff Optimize - Calculate Tariff-Scenario Cost
      description: |-
        Calculates the “what-if” cost of a single tariff-scenario, or combination of tariff, load curve and qualifying criteria. A tariff-scenario can simulate additional devices with various operational schedules. For example, we can simulate the cost of adding an EV with basic charging, and we can compare that to another tariff-scenario where the cost on the same tariff is simulated with an EV using smart charging.

        __Either utility_account_id or zip_code/main_tariff_id must be specified.__
      operationId: calculateOptimizedTariffsScenarioCost
      parameters:
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TariffScenarioCostRequestParams'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TariffScenarioCostResponse'
        '422':
          description: Bad Request
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TariffScenarioCostRequestTariffIdentificationParamError'
  /spark/storage_optimization/schedules:
    post:
      description: Optimize energy flows into and out of a storage system to minimize cost, given a corresponding tariff, consumption profile, solar generation profile, and storage specifications. Supports a variety of installation configurations and dispatch strategies.
      operationId: calculateStorageOptimizationSchedules
      parameters:
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageOptimizationSchedulesRequestParams'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageOptimizationSchedulesResponse'
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
      summary: Optimize Storage Dispatch Schedules (Beta)
      tags:
        - Spark
  /bundle/utility_remittance/utility_credentials/{utility_credential_id}/enroll:
    post:
      tags:
        - Bundle (Beta)
      summary: Utility Remittance - Enroll into Utility Remittance
      description: |-
        Enroll all Utility Accounts associated with the provided Utility Credential into Utility Remittance.
        Enrollment is an asynchronous process. Track status changes through the associated [Bundle Enrollment](showutilityremittanceenrollment).
      operationId: enrollUtilityRemittance
      parameters:
        - $ref: '#/components/parameters/utilityCredentialIdInPathParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BundleEnrollmentRequestBodyParams'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleEnrollmentsArray'
        '422':
          description: Unprocessable Entity
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/UtilityRemittanceEnrollError'
                  - $ref: '#/components/schemas/BundleEnrollmentInvalidUtilityAccountIdsError'
                  - $ref: '#/components/schemas/BundleEnrollmentMissingUtilityAccountIdsError'
                  - $ref: '#/components/schemas/UnpermittedParametersError'
                  - $ref: '#/components/schemas/InvalidResourceError'
  /bundle/utility_remittance/utility_credentials/{utility_credential_id}/remove:
    delete:
      tags:
        - Bundle (Beta)
      summary: Utility Remittance - Remove from Utility Remittance
      description: |-
        Remove all Utility Accounts associated with the provided Utility Credential from Utility Remittance.
        Removal is an asynchronous process. Track status changes through the associated [Bundle Enrollment](showutilityremittanceenrollment). Removal will trigger the `utility_remittance_removed` Webhook Event.
      operationId: removeUtilityRemittance
      parameters:
        - $ref: '#/components/parameters/utilityCredentialIdInPathParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleEnrollmentsArray'
        '422':
          description: Unprocessable Entity
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/BundleUnenrollError'
                  - $ref: '#/components/schemas/InvalidResourceError'
  /bundle/utility_remittance/utility_statements/{utility_statement_id}/utility_remittance_items:
    post:
      tags:
        - Bundle (Beta)
      summary: Utility Remittance - Create a Utility Remittance Item
      description: |-
        Creates and schedules a Utility Remittance Item for a Utility Statement.
        You can specify a date for remittance using `scheduled_at`. Note that `scheduled_at` must be a date in the future. If the date you specify falls on a weekend or a banking holiday, remittance will be scheduled for the next business day. If `scheduled_at` is omitted, remittance will be scheduled for the next business day.
        When creating a Utility Remittance Item, you can specify how much to remit for the corresponding Utility Statement by specifying `amount_cents`. In most cases, this should correspond to the `utility_charge` on a Utility Statement. If `amount_cents` is omitted, the Utility Remittance Item will be created using the `utility_charge` on the specified Utility Statement.  At this time, `amount_cents` cannot exceed 3000000 cents ($30,000). Note that overpaying or underpaying the amount on a Utility Statement comes with risk. This field should be used with caution.
        Please note that this endpoint is rate limited to 200 requests per 10 seconds. You will receive a 429 error if you exceed this limit. Please wait and try again. The `RateLimit-Reset` header will indicate when you can make another request.
      operationId: createUtilityRemittanceItem
      parameters:
        - $ref: '#/components/parameters/utilityStatementIdInPathParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BundleUtilityRemittanceItemCreateRequestBodyParams'
      responses:
        '201':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityRemittanceItem'
        '403':
          description: ForbiddenError
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: UtilityStatementNotFoundError
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityStatementNotFoundError'
        '422':
          description: Unprocessable Entity
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/UtilityRemittanceItemCreateError'
                  - $ref: '#/components/schemas/UnpermittedParametersError'
                  - $ref: '#/components/schemas/InvalidResourceError'
        '429':
          description: Too Many Requests
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            RateLimit-Period:
              $ref: '#/components/headers/RateLimitPeriod'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ThrottledError'
  /bundle/utility_remittance/utility_remittance_items/{utility_remittance_item_id}:
    get:
      tags:
        - Bundle (Beta)
      summary: Utility Remittance - Get a Utility Remittance Item.
      description: Returns a single Utility Remittance Item specified by ID.
      operationId: getUtilityRemittanceItem
      parameters:
        - $ref: '#/components/parameters/utilityRemittanceItemIdInPathParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityRemittanceItem'
        '422':
          description: Unprocessable Entity
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/InvalidResourceError'
  /bundle/utility_remittance/utility_account/{utility_account_id}/enrollment:
    get:
      tags:
        - Bundle (Beta)
      summary: Utility Remittance - Get a Bundle Enrollment
      description: Returns the Bundle Enrollment for a Utility Account.
      operationId: showUtilityRemittanceEnrollment
      parameters:
        - $ref: '#/components/parameters/utilityAccountIdInPathParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleEnrollment'
        '422':
          description: Unprocessable Entity
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/InvalidResourceError'
  /webhook/endpoints:
    get:
      tags:
        - Webhooks
      summary: List webhook endpoints
      description: Returns a paginated list of webhook endpoints.
      operationId: getWebhooks
      parameters:
        - $ref: '#/components/parameters/paginationLimitParam'
        - $ref: '#/components/parameters/paginationUpdatedAfterParam'
        - $ref: '#/components/parameters/paginationUpdatedBeforeParam'
        - $ref: '#/components/parameters/paginationOrderParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedWebhookEndpoints'
    post:
      tags:
        - Webhooks
      summary: Create a webhook endpoint
      description: After creating a webhook endpoint, we will POST to the webhook URL whenever certain events happen in our system.
      operationId: createWebhook
      parameters:
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookBodyParams'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        '422':
          description: Unprocessable Entity
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointUnprocessableEntityError'
  /webhook/endpoints/{webhook_endpoint_id}:
    delete:
      tags:
        - Webhooks
      summary: Delete a webhook endpoint
      description: |
        Delete a webhook endpoint and all associated webhook events and delivery attempt data. This will stop POST requests to the endpoint.

        _**Note**: deletion will take place asynchronously and may not be complete when this request returns._
      operationId: deleteWebhook
      parameters:
        - $ref: '#/components/parameters/webhookEndpointIdInPathParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '202':
          description: Accepted
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
    get:
      tags:
        - Webhooks
      summary: Get a webhook endpoint
      description: Returns a single webhook endpoint specified by ID.
      operationId: getWebhookEndpoint
      parameters:
        - $ref: '#/components/parameters/webhookEndpointIdInPathParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
    patch:
      tags:
        - Webhooks
      summary: Update a webhook endpoint
      description: Updates a single webhook endpoint specified by ID.
      operationId: updateWebhookEndpoint
      parameters:
        - $ref: '#/components/parameters/webhookEndpointIdInPathParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookBodyParams'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointUnprocessableEntityError'
  /webhook/endpoints/{webhook_endpoint_id}/test:
    put:
      tags:
        - Webhooks
      summary: Triggers a test webhook event
      description: Request a `test` event be sent to this webhook endpoint. Useful for debugging webhook implementations.
      operationId: requestWebookTestEvent
      parameters:
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
        - $ref: '#/components/parameters/webhookEndpointIdInPathParam'
      responses:
        '202':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
  /webhook/endpoints/{webhook_endpoint_id}/events:
    get:
      tags:
        - Webhooks
      summary: List webhook events
      description: |
        Returns a paginated list of webhook events for a particular webhook endpoint.

        _**Note**: webhook events are currently retained for 30 days._
      operationId: getWebhookEvents
      parameters:
        - $ref: '#/components/parameters/webhookEndpointIdInPathParam'
        - name: delivered
          in: query
          required: false
          description: Optionally filter webhook events by whether they were delivered successfully or not.
          schema:
            type: boolean
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedWebhookEvents'
  /webhook/endpoints/{webhook_endpoint_id}/events/{webhook_event_id}:
    get:
      tags:
        - Webhooks
      summary: Get a single webhook event
      description: |
        Returns a full representation of a webhook event, including the `data` payload and delivery attempts.

        _**Note**: webhook events are currently retained for 30 days._
      operationId: getWebhookEvent
      parameters:
        - $ref: '#/components/parameters/webhookEndpointIdInPathParam'
        - $ref: '#/components/parameters/webhookEventIdInPathParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEvent'
  /sandbox/bundle/utility_remittance/utility_credentials/{utility_credential_id}/accept:
    post:
      tags:
        - Bundle (Beta)
      summary: Sandboxed Only, Utility Remittance - Accept pending Utility Remittance enrollment
      description: |
        Only available when using sandboxed API keys.
        Updates the Bundle Enrollments [created by the enroll into Utility Remittance endpoint](enrollutilityremittance) for each Utility Account associated with this Utility Credential. The status will change from `pending_enrollment` to `enrolled` and trigger the `utility_remittance_enrolled` Webhook Event.
      operationId: sandboxUtilityRemittanceAccept
      parameters:
        - $ref: '#/components/parameters/utilityCredentialIdInPathParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleEnrollmentsArray'
        '403':
          description: ForbiddenError
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '422':
          description: Unprocessable Entity
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SandboxBundleEnrollmentError'
                  - $ref: '#/components/schemas/InvalidResourceError'
  /sandbox/bundle/utility_remittance/utility_credentials/{utility_credential_id}/reject:
    post:
      tags:
        - Bundle (Beta)
      summary: Sandboxed Only, Utility Remittance - Reject pending Utility Remittance enrollment
      description: |
        Only available when using sandboxed API keys.
        Updates the Bundle Enrollments [created by the enroll into Utility Remittance endpoint](enrollutilityremittance) for each Utility Account associated with this Utility Credential. The status will change from `pending_enrollment` to `ineligible` and trigger the `utility_remittance_not_available` Webhook Event.
      operationId: sandboxUtilityRemittanceReject
      parameters:
        - $ref: '#/components/parameters/utilityCredentialIdInPathParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ineligibility_reasons
              properties:
                ineligibility_reasons:
                  type: array
                  items:
                    $ref: '#/components/schemas/IneligibilityReasonEnum'
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleEnrollmentsArray'
        '403':
          description: ForbiddenError
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '422':
          description: Unprocessable Entity
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SandboxBundleRejectReasonsError'
                  - $ref: '#/components/schemas/UnpermittedParametersError'
                  - $ref: '#/components/schemas/SandboxBundleEnrollmentError'
                  - $ref: '#/components/schemas/InvalidResourceError'
  /sandbox/bundle/utility_remittance/utility_credentials/{utility_credential_id}/remove:
    post:
      tags:
        - Bundle (Beta)
      summary: Sandboxed Only, Utility Remittance - Remove active or pending removal Utility Remittance enrollment
      description: |
        Only available when using sandboxed API keys.
        Updates the Bundle Enrollments [created by the enroll into Utility Remittance endpoint](enrollutilityremittance) for each Utility Account associated with this Utility Credential. The status will change from `enrolled` or `pending_removal` to `removed` and trigger the `utility_remittance_removed` Webhook Event.
      operationId: sandboxUtilityRemittanceRemove
      parameters:
        - $ref: '#/components/parameters/utilityCredentialIdInPathParam'
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - removal_reason
              properties:
                removal_reason:
                  type: string
                  enum:
                    - organization_requested
                    - dropped_cant_login
                    - dropped_no_remittance_scheduled
      responses:
        '200':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleEnrollmentsArray'
        '403':
          description: ForbiddenError
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '422':
          description: Unprocessable Entity
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SandboxBundleRemoveReasonError'
                  - $ref: '#/components/schemas/UnpermittedParametersError'
                  - $ref: '#/components/schemas/SandboxBundleEnrollmentError'
                  - $ref: '#/components/schemas/InvalidResourceError'
  /sandbox/connect/submit_test_credentials:
    post:
      tags:
        - Utility Credentials
      summary: Submit test credentials
      description: |
        Submit test credentials in the sandbox environment

        The request should authenticate with a Bearer token from the [Connect Token endpoint](ref:createconnecttoken), provisioned in the same manner as it would be for front-end use with Connect.
      operationId: submitTestCredentials
      parameters:
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
                - utility_id
                - zip
              properties:
                username:
                  type: string
                password:
                  type: string
                account_number:
                  type: string
                  description: Alternative to username/password, for use with ConEd
                utility_id:
                  type: string
                  description: Arcadia identifier for the desired utility, found in the [Supported Utilities section](#section/Supported-Utilities).
                zip:
                  type: string
                  description: Zip code of the test utility account service address. This can influence tariffs under some utilities.
      responses:
        '201':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityCredential'
  /sandbox/webhook/trigger/new_utility_statement_available:
    post:
      tags:
        - Webhooks
      summary: Trigger a new_utility_statement_available webhook event
      description: |
        This endpoint will create a new utility statement for the associated utility account and emit a new_utility_statement_available webhook event.

        Only available in sandbox.
      operationId: triggerNewUtilityStatementAvailable
      parameters:
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - utility_account_id
              properties:
                utility_account_id:
                  type: integer
      responses:
        '202':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
        '422':
          description: Unprocessable Entity
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookTriggerError'
  /sandbox/webhook/trigger/utility_credential_revoked:
    post:
      tags:
        - Webhooks
      summary: Trigger a utility_credential_revoked webhook event
      description: |
        This endpoint will revoke a given utility credential (mimicing the severance of a customer's connection with a utility, typically due to a change in password) and emit a utility_credential_revoked webhook event.

        Only available in sandbox.
      operationId: triggerUtilityCredentialRevoked
      parameters:
        - $ref: '#/components/parameters/arcVersionInHeaderParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - utility_credential_id
              properties:
                utility_credential_id:
                  type: integer
      responses:
        '202':
          description: Success
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
        '422':
          description: Unprocessable Entity
          headers:
            Arcadia-Version:
              $ref: '#/components/headers/ArcVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookTriggerError'
webhooks:
  utilityCredentialVerified:
    post:
      summary: Utility Credential Verified
      description: Webhook posted when a utility credential has been verified. The utility credential verification status is `verified`. The `id` field represents a utility credential (`utility_credential_id`) that is associated with the user whose `client_user_id` is in the data object.
      operationId: utilityCredentialVerified
      tags:
        - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityCredentialVerifiedWebhookEvent'
  utilityCredentialRejected:
    post:
      summary: Utility Credential Rejected
      description: Webhook posted when a utility credential has been initially rejected. The utility credential verification status is `rejected`. The `id` field represents a utility credential (`utility_credential_id`) that is associated with the user whose `client_user_id` is in the data object.
      operationId: utilityCredentialRejected
      tags:
        - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityCredentialRejectedWebhookEvent'
  utilityCredentialRevoked:
    post:
      summary: Utility Credential Revoked
      description: Webhook posted when a utility credential is no longer correct. The utility credential verification status is `rejected`. The `id` field represents a utility credential (`utility_credential_id`) that is associated with the user whose `client_user_id` is in the data object.
      operationId: utilityCredentialRevoked
      tags:
        - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityCredentialRevokedWebhookEvent'
  UtilityCredentialVerificationError:
    post:
      summary: Utility Credential Verification Error
      description: |-
        Webhook posted when an error was encountered attempting to verify the utility credentials.
        See the description of `verification_status` in the Response section of [Get Utility Credential](#operation/getUtilityCredential) for more information. The `id` field represents a utility credential (`utility_credential_id`) that is associated with the user whose `client_user_id` is in the data object.
      operationId: utilityCredentialVerificationError
      tags:
        - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityCredentialVerificationErrorWebhookEvent'
  utilityAccountsDiscovered:
    post:
      summary: Utility Accounts Discovered
      description: Webhook posted when utility accounts are discovered.
      operationId: utilityAccountsDiscovered
      tags:
        - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityAccountsDiscoveredWebhookEvent'
  utilityAccountsDiscoveryError:
    post:
      summary: Utility Account Discovery Error
      description: Webhook posted when there is an error discovering utility accounts.
      operationId: utilityAccountsDiscoveryError
      tags:
        - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityAccountsDiscoveryErrorWebhookEvent'
  utilityAccountUpdated:
    post:
      summary: Utility Account Updated
      description: Webhook posted when any information changes on a utility account
      operationId: utilityAccountUpdated
      tags:
        - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityAccountUpdatedWebhookEvent'
  historicalUtilityStatementsDiscovered:
    post:
      summary: Historical Utility Statements Discovered
      description: Webhook posted when historical utility statements are discovered.
      operationId: HistoricalUtilityStatementsDiscovered
      tags:
        - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HistoricalUtilityStatementsDiscoveredWebhookEvent'
  newUtilityStatementAvailable:
    post:
      summary: New Utility Statement Available
      description: Webhook posted when a new utility statement is discovered.
      operationId: newUtilityStatementAvailable
      tags:
        - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUtilityStatementAvailableWebhookEvent'
  utilityRemittancePendingEnrollment:
    post:
      summary: Utility Remittance Pending Enrollment
      description: Webhook posted when a Utility Account is pending enrollment into utility remittance.
      operationId: utilityRemittancePendingEnrollment
      tags:
        - Bundle Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityRemittancePendingEnrollmentWebhookEvent'
  utilityRemittanceIneligible:
    post:
      summary: Utility Remittance Ineligible
      description: Webhook posted when a Utility Account is determined to be ineligible for utility remittance.
      operationId: utilityRemittanceIneligible
      tags:
        - Bundle Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityRemittanceIneligibleWebhookEvent'
  utilityRemittanceEnrolled:
    post:
      summary: Utility Remittance Enrolled
      description: Webhook posted when a Utility Account is enrolled into utility remittance.
      operationId: utilityRemittanceEnrolled
      tags:
        - Bundle Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityRemittanceEnrolledWebhookEvent'
  utilityRemittancePendingRemoval:
    post:
      summary: Utility Remittance Pending Removal
      description: Webhook posted when a Utility Account is pending removal from utility remittance.
      operationId: utilityRemittancePendingRemoval
      tags:
        - Bundle Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityRemittancePendingRemovalWebhookEvent'
  utilityRemittanceRemoved:
    post:
      summary: Utility Remittance Removed
      description: Webhook posted when a Utility Account is removed from utility remittance.
      operationId: utilityRemittanceRemoved
      tags:
        - Bundle Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityRemittanceRemovedWebhookEvent'
  utilityRemittanceItemRemitted:
    post:
      summary: Utility Remittance Item Remitted
      description: Webhook Event posted when a Utility Remittance Item has been remitted
      operationId: utilityRemittanceItemRemitted
      tags:
        - Bundle Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityRemittanceItemRemittedWebhookEvent'
  utilityRemittanceItemScheduled:
    post:
      summary: Utility Remittance Item Scheduled
      description: Webhook Event posted when a Utility Remittance Item has been scheduled
      operationId: utilityRemittanceItemScheduled
      tags:
        - Bundle Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityRemittanceItemScheduledWebhookEvent'
  test:
    post:
      summary: Test
      description: Webhook posted when requested via the [test webhook endpoint](#operation/requestWebookTestEvent)
      operationId: test
      tags:
        - Webhook Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestWebhookEvent'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    arcVersionInHeaderParam:
      name: Arcadia-Version
      in: header
      example: '2022-10-13'
      description: The Arcadia-Version for the request
      required: true
      schema:
        type: string
        default: '2022-10-13'
    clientUserIdQueryParam:
      in: query
      name: client_user_id
      required: false
      description: A client_user_id to filter the list of returned items by.
      schema:
        type: string
    paginationLimitParam:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        minimum: 1
        default: 10
    paginationUpdatedAfterParam:
      in: query
      name: updated_after
      required: false
      description: ISO8601 datetime, used to traverse paginated responses. Use of this parameter is mutually exclusive with `updated_before`.
      schema:
        type: string
        format: date-time
    paginationUpdatedBeforeParam:
      in: query
      name: updated_before
      required: false
      description: ISO8601 datetime, used to traverse paginated responses. Use of this parameter is mutually exclusive with `updated_after`.
      schema:
        type: string
        format: date-time
    paginationOrderParam:
      in: query
      name: order
      required: false
      description: Used to specify the order in which records should be returned. Currently ordered by `updated_at` timestamp.
      schema:
        type: string
        enum:
          - asc
          - desc
        default: desc
    utilityAccountIdInPathParam:
      name: utility_account_id
      in: path
      required: true
      schema:
        type: integer
    clientUserIdInPathParam:
      name: client_user_id
      in: path
      required: true
      schema:
        type: string
    utilityCredentialIdInPathParam:
      name: utility_credential_id
      in: path
      required: true
      schema:
        type: integer
    utilityAccountIdQueryParam:
      in: query
      name: utility_account_id
      required: false
      description: A utility account id to filter the list of returned items by.
      schema:
        type: integer
    serviceTypesQueryParam:
      in: query
      name: service_types
      required: false
      description: A list of service types to filter the list of returns items by.
      schema:
        type: array
        items:
          type: string
          enum:
            - electric
            - gas
            - water
    utilityMeterIdInPathParam:
      name: utility_meter_id
      in: path
      required: true
      schema:
        type: integer
    deprecatedClientUserIdQueryParam:
      in: query
      name: client_user_id
      required: false
      deprecated: true
      description: A client_user_id to filter the list of returned items by. This field is deprecated, prefer to use `utility_account_id` instead.
      schema:
        type: string
    utilityStatementIdInPathParam:
      name: utility_statement_id
      in: path
      required: true
      schema:
        type: integer
    utilityRemittanceItemIdInPathParam:
      name: utility_remittance_item_id
      in: path
      required: true
      schema:
        type: string
    webhookEndpointIdInPathParam:
      name: webhook_endpoint_id
      in: path
      required: true
      schema:
        type: string
        example: 3847dd41-8c90-499a-ac6e-10a027dd231f
    webhookEventIdInPathParam:
      name: webhook_event_id
      in: path
      required: true
      schema:
        type: string
        example: ff95f020-8ef9-409d-bff6-8489e880359c
  headers:
    ArcVersion:
      description: The Arcadia-Version for the response
      schema:
        type: string
      example: '2022-10-13'
      required: true
    RateLimitLimit:
      description: The number of requests that can be made to the API in the RateLimit Period
      schema:
        type: integer
      example: 200
      required: true
    RateLimitPeriod:
      description: The number of seconds your application has to perform the number of requests specified by RateLimit Limit
      schema:
        type: integer
      example: 10
      required: true
    RateLimitReset:
      description: The time in which you can retry a request. Given in epoch time.
      schema:
        type: integer
      example: 1690895650
      required: true
  schemas:
    AccessTokenResponse:
      required:
        - access_token
        - expires_in
        - scope
        - token_type
        - created_at
      properties:
        access_token:
          type: string
          description: The access token to be used for subsequent requests.
          example: 6-3MbUgRHRV-nNDcgsLpDWQ4hYsZToWZgpf-mfM7ICo
        expires_in:
          type: integer
          description: The number of seconds until the token expires.
          example: 7200
        token_type:
          type: string
          description: The type of token. This will always be "Bearer".
          enum:
            - Bearer
          example: Bearer
        scope:
          type: string
          description: The scope of the token.
          enum:
            - write
            - connect_token
          example: write
        created_at:
          type: integer
          description: When the token was created. Provided in Unix timestamp format.
          example: 1611205026
      additionalProperties: false
    AccessTokenUnauthorizedError:
      required:
        - error
      properties:
        error:
          type: string
          enum:
            - The supplied credentials are invalid.
      additionalProperties: false
    ConnectUrlResponse:
      required:
        - connect_url
      properties:
        connect_url:
          type: string
          description: The url to be used for initializing standalone Connect.
          example: https://connect.arcadia.com?token=QYEPoBOJWc4bV_XpIzJdr8BLG4RdK6h68AP672nab4f
      additionalProperties: false
    ConnectTokenUnauthorizedError:
      required:
        - error
      properties:
        error:
          type: string
          enum:
            - Unknown or invalid access token
      additionalProperties: false
    UtilityCredentialNotFoundError:
      required:
        - error
      properties:
        error:
          type: string
          enum:
            - Couldn't find UtilityCredential
      additionalProperties: false
    ConnectTokenUnprocessableEntityError:
      required:
        - error
      properties:
        error:
          type: string
          enum:
            - 'Param is missing or the value is empty: client_user_id or utility_credential_id'
      additionalProperties: false
    ConnectTokenTooManyParametersError:
      required:
        - error
      properties:
        error:
          type: object
          required:
            - description
            - type
            - details
          properties:
            description:
              type: string
              enum:
                - You cannot pass both client_user_id and utility_credential_id. Please only pass one
            type:
              type: string
              enum:
                - INVALID_PARAMATERS
            details:
              type:
                - object
                - 'null'
      additionalProperties: false
    ConnectUrlVariantError:
      required:
        - error
      properties:
        error:
          type: object
          required:
            - description
            - type
            - details
          properties:
            description:
              type: string
              enum:
                - You can only pass in 'connect' or 'tariff' as the variant.
            type:
              type: string
              enum:
                - INVALID_VARIANT
            details:
              type:
                - object
                - 'null'
      additionalProperties: false
    PingResponse:
      required:
        - pong
      properties:
        pong:
          type: boolean
          description: Always true
          example: true
      additionalProperties: false
    PingUnauthorizedError:
      required:
        - error
      properties:
        error:
          type: string
          enum:
            - Unknown or invalid access token
      additionalProperties: false
    Tariff:
      description: Information about a tariff.
      required:
        - main_tariff_id
        - tariff_code
        - tariff_name
        - utility_name
      properties:
        main_tariff_id:
          type: string
          description: The Genability 'masterTariffId' unique identifier for this tariff. See [Genability documentation](https://developer.genability.com/api-reference/tariff-api/tariff/) for details.
          example: gen_mtid_3331108
        property_inputs:
          description: Properties applied to this tariff which may affect the calculated cost of electricity.
          type: array
          items:
            type: object
            required:
              - id
              - value
            properties:
              id:
                type: string
                example: territoryId
              value:
                type:
                  - boolean
                  - number
                  - string
                example: 3
        supplier_name:
          description: The name of the retail electricity supplier or the community choice aggregator. If there is no retail electricity supplier or community choice aggregator, this field is null.
          example: East Bay Community Energy
          type:
            - string
            - 'null'
        tariff_code:
          type: string
          description: Abbreviation code of the tariff used for this calculation.
          example: EV-2A-TOU
        tariff_name:
          type: string
          description: Full name of the tariff used for this calculation.
          example: Residential - Time of Use - Plug-In Electric Vehicle 2
        utility_name:
          type: string
          description: Name of the utility associated with this tariff
          example: Pacific Gas & Electric
    MostRecentTariff:
      allOf:
        - $ref: '#/components/schemas/Tariff'
        - description: The most recent Tariff seen on this utility account.
          required:
            - tariff_as_of_date
          properties:
            tariff_as_of_date:
              type:
                - string
                - 'null'
              format: date
              description: The statement date of the utility statement that reported use of this tariff.
              example: '2021-03-01'
    Availability:
      type: string
      enum:
        - AVAILABLE
        - NOT_AVAILABLE
        - NOT_READY
    FeatureAvailability:
      required:
        - charge_cost
        - hosted_payments
        - utility_remittance
        - smart_charge
        - utility_statements
      properties:
        charge_cost:
          $ref: '#/components/schemas/Availability'
        smart_charge:
          $ref: '#/components/schemas/Availability'
        utility_statements:
          $ref: '#/components/schemas/Availability'
        hosted_payments:
          $ref: '#/components/schemas/Availability'
        utility_remittance:
          $ref: '#/components/schemas/Availability'
      additionalProperties: false
    UtilityMeter:
      required:
        - id
        - client_user_id
        - utility_credential_id
        - utility_account_id
        - meter_number
        - service_type
        - created_at
        - updated_at
        - sandboxed
      properties:
        id:
          type: integer
          example: 12345
        client_user_id:
          type: string
          example: fff57dc7-3a2b-4395-8a62-e3486d46dabe
        utility_credential_id:
          type: integer
          example: 54321
        utility_account_id:
          type: integer
          example: 65432
        meter_number:
          type: string
          example: 12300000045 67
        service_type:
          type: string
          enum:
            - electric
            - gas
            - water
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        sandboxed:
          type: boolean
          example: false
      additionalProperties: false
    UtilityAccount:
      required:
        - id
        - client_user_id
        - utility_name
        - utility_long_name
        - utility_credential_id
        - account_number
        - service_address_city
        - service_address_state
        - service_address_street_one
        - service_address_street_two
        - service_address_zip
        - service_customer_name
        - status
        - supplier_account_id
        - most_recent_tariff
        - flags
        - services
        - created_at
        - updated_at
        - feature_availability
        - utility_meters
        - sandboxed
      properties:
        id:
          type: integer
          example: 12345
        client_user_id:
          type: string
          example: fff57dc7-3a2b-4395-8a62-e3486d46dabe
        utility_name:
          type: string
          example: AEP SWEPCO
          description: The list of supported Arcadia utilities can be found [here](https://arc.arcadia.com/coverage?first=25&page=1).
        utility_long_name:
          type: string
          example: AEP SWEPCO AR
          description: Provides greater detail than `utility_name`. The list of supported Arcadia utilities can be found [here](https://arc.arcadia.com/coverage?first=25&page=1).
        utility_credential_id:
          type: integer
          example: 54321
        account_number:
          type:
            - string
            - 'null'
          example: '7626177069'
          description: The account number used by the utility to identify this UtilityAccount
        service_address_street_one:
          example: 1060 W Addison
          type:
            - string
            - 'null'
        service_address_street_two:
          example: Apartment 1
          type:
            - string
            - 'null'
        service_address_city:
          example: Chicago
          type:
            - string
            - 'null'
        service_address_state:
          example: IL
          type:
            - string
            - 'null'
        service_address_zip:
          example: '60613'
          type:
            - string
            - 'null'
        service_customer_name:
          example: Joan Arcadia
          type:
            - string
            - 'null'
        supplier_account_id:
          example: '123456789'
          description: |
            Utility specific account identifier for energy suppliers.
          type:
            - string
            - 'null'
        status:
          anyOf:
            - type: 'null'
            - type: string
              enum:
                - active
                - closed
                - incomplete
                - locked
                - unknown
        most_recent_tariff:
          anyOf:
            - type: 'null'
            - $ref: '#/components/schemas/MostRecentTariff'
        flags:
          type: array
          items:
            type: string
            enum:
              - utility_statement_past_due
        services:
          type: array
          items:
            type: string
            enum:
              - electric
              - gas
              - water
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        feature_availability:
          $ref: '#/components/schemas/FeatureAvailability'
        utility_meters:
          type: array
          items:
            $ref: '#/components/schemas/UtilityMeter'
        sandboxed:
          type: boolean
          example: false
      additionalProperties: false
    PaginatedUtilityAccounts:
      required:
        - data
        - total_count
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UtilityAccount'
        total_count:
          type: integer
          example: 1
      additionalProperties: false
    PaginatedUsers:
      required:
        - data
        - total_count
      properties:
        data:
          type: array
          items:
            type: object
            required:
              - client_user_id
              - created_at
              - updated_at
            properties:
              client_user_id:
                type: string
                example: fff57dc7-3a2b-4395-8a62-e3712d46dafl
              created_at:
                type: string
                format: date-time
              updated_at:
                type: string
                format: date-time
        total_count:
          type: integer
          example: 1
      additionalProperties: false
    UtilityCredential:
      required:
        - created_at
        - id
        - updated_at
        - client_user_id
        - username
        - utility_name
        - utility_long_name
        - verification_status
        - accounts_load_in_progress
        - verification_updated_at
        - sandboxed
        - uses_test_scenario
      properties:
        id:
          type: integer
          example: 12345
        client_user_id:
          type: string
          example: fff57dc7-3a2b-4395-8a62-e3486d46dabe
        utility_name:
          type: string
          example: AEP SWEPCO
          description: The list of supported Arcadia utilities can be found [here](https://arc.arcadia.com/coverage?first=25&page=1).
        utility_long_name:
          type: string
          example: AEP SWEPCO AR
          description: Provides greater detail than `utility_name`. The list of supported Arcadia utilities can be found [here](https://arc.arcadia.com/coverage?first=25&page=1).
        username:
          type:
            - string
            - 'null'
          example: great_customer
        verification_status:
          type: string
          enum:
            - pending
            - verified
            - rejected
            - error
          description: |
            The verification status of the Utility Credential.

            * `pending`: Credential verification is pending
            * `verified`: The credentials were found to be correct
            * `rejected`: The credentials were found to be incorrect
            * `error`: There was an error attempting to verify the credentials. This status _may_ be transient, as Arcadia will continue to retry verification in the background.
        accounts_load_in_progress:
          type: boolean
          example: false
          description: 'Indicates if Arcadia is in the process of verifying a utility credential or loading associated utility accounts. The combination of `verification_status: verified` and `account_load_in_progress: false` will indicate that utility accounts are available in the API. Alternatively, the `utility_accounts_discovered` webhook will alert you when utility accounts are available in the API.'
        verification_updated_at:
          format: date-time
          type:
            - string
            - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        sandboxed:
          type: boolean
          example: false
        uses_test_scenario:
          type: boolean
          example: false
          description: Indicates if the utility credential was created using a designated test username and password.
    User:
      required:
        - client_user_id
        - created_at
        - utility_credentials
      properties:
        client_user_id:
          type: string
          example: fff57dc7-3a2b-4395-8a62-e3712d46dafl
        created_at:
          type: string
          format: date-time
        utility_credentials:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/UtilityCredential'
              - type: object
                required:
                  - utility_accounts
                properties:
                  utility_accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/UtilityAccount'
    UserDataExceedsLimitsError:
      required:
        - error
      properties:
        error:
          type: object
          required:
            - description
            - type
            - details
          properties:
            description:
              type: string
            type:
              type: string
              enum:
                - BAD_REQUEST
            details:
              type:
                - object
                - 'null'
      additionalProperties: false
    UserNotFoundError:
      required:
        - error
      properties:
        error:
          type: string
          enum:
            - Couldn't find User
      additionalProperties: false
    DeleteUserError:
      required:
        - error
      properties:
        error:
          type: object
          required:
            - description
            - type
            - details
          properties:
            description:
              type: string
              enum:
                - Cannot delete a User who is pending_enrollment, enrolled, or pending unenrollment in a Bundle Product
            type:
              type: string
              enum:
                - BAD_REQUEST
            details:
              type:
                - object
                - 'null'
      additionalProperties: false
    PaginatedUtilityCredentials:
      required:
        - data
        - total_count
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UtilityCredential'
        total_count:
          type: integer
          example: 1
      additionalProperties: false
    PaginatedUtilityMeters:
      required:
        - data
        - total_count
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UtilityMeter'
        total_count:
          type: integer
          example: 1
      additionalProperties: false
    MalformedParametersError:
      required:
        - error
      properties:
        error:
          type: object
          required:
            - description
            - type
            - details
          properties:
            description:
              type: string
              enum:
                - Request included malformed parameters
            type:
              type: string
              enum:
                - BAD_REQUEST
            details:
              type: object
              required: []
              properties:
                service_types:
                  type: array
                  items:
                    type: string
                    enum:
                      - must be an array
                amount_cents:
                  type: array
                  items:
                    type: string
                    enum:
                      - must be an integer
                      - must not exceed 3000000 cents
      additionalProperties: false
    UtilityStatement:
      required:
        - client_user_id
        - created_at
        - due_date
        - final_bill
        - gas_charge
        - id
        - kwh
        - past_due
        - pdf_url
        - sandboxed
        - service_end_date
        - service_start_date
        - statement_date
        - supplier_charge
        - tariff
        - updated_at
        - utility_account_id
        - utility_charge
        - utility_name
        - utility_long_name
        - service_window_inclusive_of_end_date
        - commercial_line_items_detail
        - billing_flags
        - virtual_net_metering
        - most_recent_payment_detail
      properties:
        id:
          type: integer
          example: 123
        client_user_id:
          type: string
          example: fff57dc7-3a2b-4395-8a62-e3486d46dabe
        tariff:
          anyOf:
            - type: 'null'
            - $ref: '#/components/schemas/Tariff'
        utility_name:
          type: string
          example: AEP SWEPCO
          description: The list of supported Arcadia utilities can be found [here](https://arc.arcadia.com/coverage?first=25&page=1).
        utility_long_name:
          type: string
          example: AEP SWEPCO AR
          description: Provides greater detail than `utility_name`. The list of supported Arcadia utilities can be found [here](https://arc.arcadia.com/coverage?first=25&page=1).
        utility_account_id:
          type: integer
          example: 2243
        statement_date:
          type: string
          format: date
          example: '2019-08-24'
        due_date:
          type:
            - string
            - 'null'
          format: date
          example: '2019-09-24'
        service_start_date:
          type: string
          format: date
          example: '2019-08-24'
        service_end_date:
          type: string
          format: date
          example: '2019-09-24'
        kwh:
          type: integer
          example: 100
        utility_charge:
          type: number
          example: 90.33
          description: Total dollar amount billed by the utility on this statement.
        supplier_charge:
          example: 41.54
          description: |
            Total dollar amount billed by the energy supplier.

            **Note**: Not available for all utilities.
          type:
            - number
            - 'null'
        gas_charge:
          example: 23.32
          description: |
            Total dollar amount billed by the utility for natural gas.

            **Note**: Not available for all utilities that provide gas service.
          type:
            - number
            - 'null'
        past_due:
          type:
            - boolean
            - 'null'
          example: false
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        sandboxed:
          type: boolean
          example: false
        pdf_url:
          format: uri
          description: A url to the utility created PDF bill for this statement. Note that this url will only be valid for 600 seconds.
          type:
            - string
            - 'null'
        final_bill:
          description: Indicates if this is the final bill that this account will receive before closing.
          example: false
          type:
            - boolean
            - 'null'
        service_window_inclusive_of_end_date:
          type: boolean
          example: true
          description: Indicates that the service window for this UtilityStatement includes the service_end_date.
        net_metering:
          anyOf:
            - type: 'null'
            - type: object
              description: Details on the customer's net metering credit data. Currently only supported for Versant.
              required:
                - current_cycle_generated_kwh
              properties:
                current_cycle_generated_kwh:
                  description: The kwh generated during the current cycle
                  example: 40.57
                  type:
                    - number
                    - 'null'
        virtual_net_metering:
          anyOf:
            - type: 'null'
            - type: object
              description: Details on the customer's virtual net metering credit data. Currently only supported for National Grid New York and Central Maine Power.
              required:
                - current_cycle_generated_credits
                - current_cycle_applied_credits
                - last_cycle_carry_over_credits
                - next_cycle_carry_over_credits
                - current_cycle_generated_kwh
                - current_cycle_applied_kwh
                - last_cycle_carry_over_kwh
                - next_cycle_carry_over_kwh
                - current_cycle_expiring_kwh
                - current_cycle_allocation_percentage
                - cdg_net_credit
              properties:
                current_cycle_generated_credits:
                  description: The amount of credits generated during the current cycle, in dollars
                  example: 100.15
                  type:
                    - number
                    - 'null'
                current_cycle_applied_credits:
                  description: The amount of credits applied during the current cycle, in dollars
                  example: 90.33
                  type:
                    - number
                    - 'null'
                last_cycle_carry_over_credits:
                  description: The amount of credits carried over from the last cycle, in dollars
                  example: 3.83
                  type:
                    - number
                    - 'null'
                next_cycle_carry_over_credits:
                  description: The amount of credits carried over to the next cycle, in dollars
                  example: 5.99
                  type:
                    - number
                    - 'null'
                current_cycle_generated_kwh:
[...]
